.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding-left: 150px;
  padding-right: 150px;
}

nav {
  background-color: #f0f0f0;
  padding: 10px 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end; /* Align items to the end (right) */
  align-items: center; /* Vertically center items */
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-left: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333; /* Default link color */
  /* padding: 8px 16px; */
}

.nav-button a { 
  color: white;
  text-decoration: none; /* Redundant, but good to be explicit */
}

.nav-button { /* Renamed for clarity */
  display: inline-block;
  background-color: #875bf7;
  color: white;
  padding: 8px 16px; 
  border-radius: 4px; 
  text-decoration: none;
  transition: background-color 0.3s ease; 

}


.nav-button:hover {
  background-color: #5d30ce;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-weight: bold;
}

.logo-img {
  height: 48px;
  width: auto;
  margin-right: 16px;
}

.logo a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}